doctype html
html
	head
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible", content="chrome=1")
		title EMKC-Online::Alpha
		link(rel="stylesheet", href="stylesheets/styles.css")
		link(rel="stylesheet", href="stylesheets/pygment_trac.css")
		script(type="text/javascript", src="http://code.jquery.com/jquery-latest.js")
		script(type="text/javascript", src="javascripts/main.js")
	body
		.wrapper
			header
				h1 EMKC-Online::Alpha
				p EMKC-Online::Alpha
				p
					a(href="backnumber.html") バックナンバー
				p
					a(href="ads.html") 広告募集
				p
					a(href="articles.html") 記事募集
				h3 現在のお知らせ
				p 
					| 広告を募集しています。詳しくは
					a(href="ads.html") 広告募集
					| をご覧ください。

			section
				h2(id="ad") 広告募集
				p EM高専カンファレンスでは、広告を掲載して頂けるスポンサーの方を募集しています。広告掲載に必要な費用は以下の通りです。
				img(src="images/ad_image.jpg")
				ul
					li 1p - 10万円＋税
					li 1/2p - 7万円＋税
					li 1/3p - 5万円＋税
					li 1/8p - 1万円＋税
				p (※デザイン料は別途)
				p 広告はオンライン版公開時にも、印刷版と同様に掲載致します。広告掲載を希望するスポンサーの方は、以下の編集部メールアドレスまでご連絡ください。
				a(href="mailto:contact@manaslink.com") contact@manaslink.com

			footer
				p EMKC project ALL RIGHTS RESERVED
				address
					ul
						li Auther: Takaya Kobayashi(a.k.a. Jigsaw) / m[at]jgs.me
						li EMKC-Online: EMKC project / 
							a(href="mailto:contact@manaslink.com") contact@manaslink.com
		script(type="text/javascript", src="javascripts/scale.fix.js")
