include header.jade
	block content
		section
			h2 バックナンバー
			img(src="images/emkc1.png")
			h3 
				a(href="http://www.manaslink.com/articles/217") 第1号
			ul
				li 発行日: 2011年2月4日
				li 発行元:
					a(href="http://www.manaslink.com/") 株式会社マナスリンク
				li 価格: 無料
				li 発行部数: 3,000部, 増版: 1,000部
				li サイズ: A4, カラー
				li ページ数: 28頁
				p 
					a(href="http://www.ipad-zine.com/b/1540/") iPadZine
					| や
					a(href="http://www.scribd.com/doc/49782766/EM高専カンファレンス") オンラインビュワー
					| ,
					a(href="http://www.manaslink.com/wp-content/uploads/emkc.pdf") pdf
					| で閲覧することができます。

			img(src="images/emkc2.png")
			h3 
				a(href="http://e-jigsaw.github.com/emkc2-promotion") 第2号
			ul
				li 発行日: 2012年7月12日
				li 発行元: 
					a(href="http://www.manaslink.com/") 株式会社マナスリンク
				li 価格: 無料
				li 発行部数: 8,000部
				li サイズ: A4, カラー
				li ページ数: 40頁
				p
					a(href="https://lindoc.jp/docs/3094") オンラインビュワー
					| よりご覧になれます！
	include footer.jade
		block footer