doctype html
html
	head
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible", content="chrome=1")
		title EMKC-Online::Alpha
		link(rel="stylesheet", href="stylesheets/styles.css")
		link(rel="stylesheet", href="stylesheets/pygment_trac.css")
		script(type="text/javascript", src="http://code.jquery.com/jquery-latest.js")
		script(type="text/javascript", src="javascripts/main.js")
	body
		.wrapper
			header
				h1 EMKC-Online::Alpha
				p EMKC-Online::Alpha
				p
					a(href="backnumber.html") バックナンバー
				p
					a(href="ads.html") 広告募集
				p
					a(href="articles.html") 記事募集
				h3 現在のお知らせ
				p 
					| 広告を募集しています。詳しくは
					a(href="ads.html") 広告募集
					| をご覧ください。

			section
				h2 バックナンバー
				img(src="images/emkc1.png")
				h3 
					a(href="http://www.manaslink.com/articles/217") 第1号
				ul
					li 発行日: 2011年2月4日
					li 発行元:
						a(href="http://www.manaslink.com/") 株式会社マナスリンク
					li 価格: 無料
					li 発行部数: 3,000部, 増版: 1,000部
					li サイズ: A4, カラー
					li ページ数: 28頁
					p 
						a(href="http://www.ipad-zine.com/b/1540/") iPadZine
						| や
						a(href="http://www.scribd.com/doc/49782766/EM高専カンファレンス") オンラインビュワー
						| ,
						a(href="http://www.manaslink.com/wp-content/uploads/emkc.pdf") pdf
						| で閲覧することができます。

				img(src="images/emkc2.png")
				h3 
					a(href="http://e-jigsaw.github.com/emkc2-promotion") 第2号
				ul
					li 発行日: 2012年7月12日
					li 発行元: 
						a(href="http://www.manaslink.com/") 株式会社マナスリンク
					li 価格: 無料
					li 発行部数: 8,000部
					li サイズ: A4, カラー
					li ページ数: 40頁
					p
						a(href="https://lindoc.jp/docs/3094") オンラインビュワー
						| よりご覧になれます！

			footer
				p EMKC project ALL RIGHTS RESERVED
				address
					ul
						li Auther: Takaya Kobayashi(a.k.a. Jigsaw) / m[at]jgs.me
						li EMKC-Online: EMKC project / 
							a(href="mailto:contact@manaslink.com") contact@manaslink.com
		script(type="text/javascript", src="javascripts/scale.fix.js")
