block footer
	footer
		p EMKC project ALL RIGHTS RESERVED
		address
			ul
				li Auther: Takaya Kobayashi(a.k.a. Jigsaw) / m[at]jgs.me
				li EMKC-Online: EMKC project / 
					a(href="mailto:contact@manaslink.com") contact@manaslink.com
	script(type="text/javascript", src="javascripts/scale.fix.js")