include header.jade
	block content
		section
			img(src="images/emkc1.png")
			h1 高専の、高専生による、みんなのためのフリーペーパー
			p EM高専カンファレンスは高専やそのOBが作成しているフリーペーパーです。これまでに2号発刊されています。現在、全国で配布中です。また、オンラインのビュワーでも閲覧することができます。
			
		section
			h2 高専カンファレンスとは？
			p 「高専カンファレンス」とは、その名称を用いて行われる、高等専門学校および高専生をテーマとする、勉強会をはじめとした各種活動（以下、「個別の活動」と言う）の総称、およびその集合体（以下、「コミュニティ」と言う）の名称のことを言います。

			p 2008年6月の小さな集まり以降、高専特有のバイタリティ・結束感が生み出す高専内外のつながりを活かし、現在では既存の高専の枠組みを越え、全国的に広がっています。
			p 詳しくはこちら→
				a(href="http://kosenconf.jp") http://kosenconf.jp
	include footer.jade
		block footer
